@import "~normalize.css/normalize.css";
@import "~codemirror/lib/codemirror.css";
@import "~react-datepicker/dist/react-datepicker.css";

.react-datepicker {
  border-radius: 0;
}

.react-datepicker__time {
  margin: 0.4em;
}

html, body {
  color: #333333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

input {
  color: #333333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 200;
  outline: none;
}

.CodeMirror {
  border-top: 1px solid #dadada;
  height: auto;
}

.CodeMirror-gutters {
  border: none;
  background-color: transparent;
}

.Resizer {
  background-color: #dadada;
  z-index: 1000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Pane {
  overflow: auto;
  width: 100%;
}
